.pageHeader {
  display: flex;
  flex-direction: column;
  height: 18rem;
  color: purple;
  justify-content: flex-start;
}

.headerLogo {
  position: relative;
  width: 100vw;
  height: 200px;
}
.pageHeader {
  background-color: rgba(255,252,245,1);
}
.siteNav {
  flex-direction: row-reverse;
  border-bottom: 0;
  background-color: transparent;
}
.navItem {
  color: rgb(142, 0, 13) !important;
}
.navItem:hover {
  text-decoration: underline;
}
.researchResources {
  order: 2;
}
.contact {
  order: 1;
}
.bgImage {
  position: relative;
  height: 100%;
  width: 100%;
  resize: both;
  background-image: url('../images/logos/logoSVG.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 640px) {
  .menu {

  }
}

.bgPaddingDiv {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.infoBoxColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40rem;
}

.infoBoxRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.infoItem {
  height: 20rem;
  width: 20rem;
  background-color: rgba(255,252,245,0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.infoItem * {
  margin: 0 auto;
  color: rgb(142, 0, 13);

}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .headerLogo {
    order: 1;
  }
  .siteNav {
    order: 2;
  }
  .pageHeader {
    height: 16rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .headerLogo {
    order: 2;
  }
  .siteNav {
    order: 1;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
