body {
  background-color: rgb(255,252,245);
}
.hide {
  display: none;
}
.dropdown-section-title{
  font-weight: bold;
}
.dropdown-section-title:hover{
  color: #212529;
  background: none;
}
#target {
  transition: opacity 1s;
  height: 500px;
}

#page-main {
  height: 100%;
}

.height100 {
  height: 100%;
}

.clickable a {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('empty.gif');
}

.subSection {
  margin: 2rem 0 2rem;
}


.contentPage p, span {
  font-size: 1.25rem;
}
.inquiriesPage {
  padding: 0;
}

/*iphone 5 (320px)*/
@media (min-width: 320px) {

  .contactCard {
    width: 100%;

  }
  #mobileChartTarget {
    height: 100%;
    width: 100%;
    padding: 10px;
  }

  .mobileMenu {
    display: block;
  }
  .desktopMenu {
    display: none
  }
  .inquiriesPage h3 {
    margin-top: 2rem;
  }
  .menuItems {
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255,252,245,0.9);
    border: 0.5px solid black;
    font-family: 'Cardo', serif;
  }
  .menuItems:nth-last-child() {
    margin-bottom: 5rem;
  }
  .menuItem {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .menuItem > a {
    color: black !important;
  }

  .chartBox {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 2rem auto;
  }
  .consultant h2 {
    margin-top: 2rem;
  }

  .comprehesiveReview h1, h2 {
    margin: 1rem 0;
  }

  .clientColumnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .clientColumn {
    width: 20rem;
    text-align: left;
  }

  .consultant {
    margin: 4rem 0;
  }

  .consultantImg {
    position: relative;
    float: none;
    margin: 0 auto;
    height: auto;
  }

  .contentPage {
    width: 90%;
    margin: 1rem auto;
    font-family: 'Cardo', serif;
  }
  .pageHeader {
    height: 12rem;
  }
  .companyNames {
    font-family: 'Cardo', serif;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: auto;
    width: 90%;
    text-align: center;
    font-style: italic;
  }
  .companyName {
    margin: 0 !important;
    font-size: 0.75rem;
  }
  .homePage {
    position: relative;
  }
  .headerLogo {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    height: 7rem;
    margin-top: 0.5rem;
  }

  .infoBoxColumn {
    height: 100%;
  }

  .infoBoxRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  .infoBoxRow > .menuItem {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .infoItem {
    position: relative;
    height: 5rem;
    padding: 0.5rem;
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255,252,245,0.9);
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .infoItem:hover {
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.5);
    -webkit-transition: box-shadow border-bottom 0.5s;
    transition: box-shadow border-bottom 0.5s;
  }
  .infoItem h2 {
    font-size: 1.5rem;
    margin: 0 auto;
    border-bottom: 0.25rem solid rgb(142, 0, 13);
    padding: 0.75rem;
    color: rgb(90, 100, 101) !important;
    font-family: 'Cardo', serif;
  }
  .infoItem a {
    color: rgb(90, 100, 101) !important;
  }

  .subCategoryPane {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    -webkit-animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -ms-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
    animation: fadein 0.3s;
  }
  .subCategoryPane .infoBoxColumn {
    width: 75%;
    margin: 0 auto;
  }
  .subCategoryPane .infoBoxRow {
    display: block;
    overflow: scroll;
    height: 100%;
    margin-top: 2rem;
  }
  .subCategoryPane .infoItem {
    position: relative;
    height: 5rem;
    width: 75%;
    margin: 2rem auto 2rem;
    background-color: rgba(255,252,245,0.9);
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .subCategoryPane .infoItem h2 {
    font-size: 1.25rem;
  }

  .pageHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .pageHeader {
    background-color: rgba(255,252,245,1);
  }
  .siteNav {
    flex-direction: row;
    border-bottom: 0;
    background-color: transparent !important;
  }
  .navItem {
    color: rgb(142, 0, 13) !important;
  }
  .navItem:hover {
    text-decoration: underline;
  }
  .bgImage {
    position: relative;
    height: 100%;
    width: 100%;
    resize: both;
    background-image: url('../images/logos/logoSVG.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .bgPaddingDiv {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .chartBox {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 2rem auto;
  }
  .pageHeader {
    height: 13rem;
  }
  .companyNames {
    width: 75%;
  }

  .consultantImg {
    float: left;
    margin: 0 1rem 1rem 0;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #mobileChartTarget {
    height: 0%;
    width: 0%;
  }

  .inquiriesPage h3 {
    margin-top: 3rem;
  }

  .contentPage {
    text-align: justify;
  }
  .chartBox {
    position: relative;
    height: 600px;
    width: 600px;
    margin: 2rem auto;
  }
  .companyNames {
    margin-top: 0.5rem;
    width: 40%;
  }


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .mobileMenu {
    display: none;
  }
  .desktopMenu {
    display: block;
  }
  .pageHeader {
    height: 18rem;
  }
  .companyName {
    font-size: 1rem;
  }
  .headerLogo {
    height: 11rem;
  }
  .infoBoxColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .infoBoxRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50rem;
    padding-top: 5rem;
    width: 100%;
  }
  .infoItem {
    height: 10rem;
    width: 20rem;
    background-color: rgba(255,252,245,0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menuItems {
    width: 20rem;
  }
  .subCategoryPane .infoItem {
    height: 5rem;
    width: 20rem;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}


keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
